.first-color {
  color: #ff1d6c;
}
.second-color {
  color: #ffb72c;
}
.third-color {
  color: #007350;
}
.fourth-color {
  color: #f6f7fb;
}
.fifth-color {
  color: #acacac;
}
.sixth-color {
  color: #0d0b0c;
}
