@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* english font family */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
/* Chinese font family */

.first-color {
  color: #ff1d6c;
}
.second-color {
  color: #ffb72c;
}
.third-color {
  color: #007350;
}
.fourth-color {
  color: #f6f7fb;
}
.fifth-color {
  color: #acacac;
}
.sixth-color {
  color: #0d0b0c;
}

.english-font {
  font-family: "Roboto", sans-serif;
}

.chinese-font {
  font-family: "Noto Sans TC", sans-serif;
}
