.nav {
  display: flex;
  position: fixed;
  padding: 18px 6rem;
  width: 100%;
  height: 104px;
  line-height: 104px;
  justify-content: space-between;
  z-index: 999;
}

.nav-list {
  display: flex;
}

.nav-item {
  display: flex;
  height: 100%;
  gap: 8px;
  align-items: center;
  margin-left: 27px;
}

.frame {
  width: 34px;
  height: 34px;
}

.logo {
  width: 99px;
  height: 57px;
}
